*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("./Imagenes/background.jpg");
  background-attachment: fixed;
}

.footer{
  background-color: #000;
  display: flex;
  justify-content: center;
}

.text-footer{
  color: #fff;
}

.card{
  margin: 10px 10px;
}

.card:hover{
  transform: scale(1.05);
  transition: 1s;
}

.btn-dark:hover{
  color: blue;
}